{% extends "rooms/mainroom.html" %}
{% block content %}

<h1>{{ object.name }}</h1>

<div class="container">

    <div class="left-container">
        <h3>Członkowie grupy</h3>
        <li>
            {{ object.author }} ( Założyciel )
            {% for member in object %}
                {{ member.user.username }} ( Członek )
            {% endfor %}
        </li>
    </div>
    {% if object.author == user %}

    {% endif %}

    <div class="center-container">
        <a href="{% url 'post_new' %}" class="submit-style">Dodaj post</a>
    </div>


    <div class="right-container">
        {% if object.description %}
            <h3>Opis grupy</h3>
            <p>{{ object.description }}</p>
        {% endif %}
    </div>

</div>

{% endblock content %}