{% extends "rooms/mainroom.html" %}
{% block content %}

<h1>{{ object.name }}</h1>

<div class="container">

    <div class="left-container">
        <h3>Członkowie grupy</h3>
        <p>{{ object.author }} ( Założyciel )</p>

        {% for member in members %}
            <li>
            {{ member.user.username }} ( {{ member.role }} ) {% if request.user == member.user or request.user == group.author %} <a href="{% url 'member_delete' group.id member.id %}"><i class="fa fa-trash"></i></a> {% endif %}
        {% endfor %}

        {% if object.author == user %}
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Dodaj członka</button>
            </form>
        </div>
        {% endif %}

    </div>


    <div class="center-container">
        <a href="{% url 'group_post' %}" class="submit-style">Dodaj post</a>
    </div>


    <div class="right-container">
        {% if object.description %}
            <h3>Opis grupy</h3>
            <p>{{ object.description }}</p>
        {% endif %}

    {% if object.author == user %}
        <div class="right-down" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; max-width: 620px; max-height: 100px; margin-top: 20px;">
            <a href="{% url 'group_delete' group.pk %}" class="button-style" style="flex-basis: calc(50% - 10px); text-align: center;">Usuń grupe</a>
            <a href="{% url 'group_update' group.pk %}" class="button-style" style="flex-basis: calc(50% - 10px); text-align: center;">Zaktualizuj grupe</a>
        </div>
    {% endif %}


    </div>


</div>





{% endblock content %}