<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://kit.fontawesome.com/53d1882f45.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navigation">
        <div class="nav-left">
            <a href="{% url 'ouroom' %}" class="nav-link">OuRoom</a>
            <a href="{% url 'main_room' %}" class="nav-link">MainRoom</a>
            <a href="{% url 'profile' %}" class="nav-link">Profil</a>
            <a href="{% url 'games' %}" class="nav-link">Gry</a>
        </div>
        <div class="nav-right">
            <a href="#" class="nav-icon" title="Powiadomienia"><i class="fa-solid fa-bell"></i></a>
            <a href="#" class="nav-icon" title="Wiadomości"><i class="fa-solid fa-comment"></i></a>
            <a href="{% url 'logout' %}" class="nav-icon" title="Wyloguj się"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </nav>

    {% block content %}

        <div class="posts-container">
            {% for post in post_list %}
                <article class="media content-section">
                    <a href="{{ post.get_absolute_url }}" class="post-link"><i class="fa-solid fa-info"></i></a>
                    <img src="{{ post.image.url }}">
                    <p>{{ post.author }}</p>
                    <p>{{ post.time_release|date:"F d, Y, H:i" }}</p>
                    <p>{{ post.content }}</p>
                </article>
            {% endfor %}
        </div>

    {% endblock content %}

</body>
</html>