{% extends "rooms/mainroom.html" %}
{% block content %}

    <div class="posts-container">
        <article class="media content-section">
            {% if post.author == user %}
                <a href="{% url 'post_update' post.id %}" class="post-link"><i class="fa-solid fa-pen"></i></a>
                <a href="{% url 'post_delete' post.id %}" class="post-link"><i class="fa-solid fa-trash"></i></a>
                <p><img src="{{ post.image.url }}"></p>
            {% endif %}
            <p>{{ object.author }}</p>
            <p>{{ object.time_release|date:"F d, Y, H:i" }}</p>
            <p>{{ object.content }}</p>
        </article>
    </div>

{% endblock content %}