{% extends "rooms/mainroom.html" %}
{% block content %}

    <div class="posts-container">
        <article class="media content-section">

            {% if post.author == user %}
                <a href="{% url 'post_update' post.id %}" class="post-link"><i class="fa-solid fa-pen"></i></a>
                <a href="{% url 'post_delete' post.id %}" class="post-link"><i class="fa-solid fa-trash"></i></a>
            {% endif %}

            {% if post.image %}
            <p><img src="{{ post.image.url }}" class="post-image"></p>
            {% endif %}

            <p>{{ object.author }}</p>
            <p>{{ object.time_release|date:"F d, Y, H:i" }}</p>
            <p>{{ object.content }}</p>

            <form method="POST" action="{% url 'post_like' post.pk %}" class="like-form" data-post-id="{{ post.pk }}">

                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" value="{{ post.pk }}">
                    <i id="like-icon-{{ post.pk }}" class="fa-solid fa-thumbs-up"></i> <span id="like-count-{{ post.pk }}">{{ post.like.all.count }} </span>
                </button>

            </form>

        </article>
    </div>

{% endblock content %}