{% extends "rooms/mainroom.html" %}
{% block content %}
    <div class="profile-container">
      <i class="fa-solid fa-gear settings-icon"></i>
      <div class="profile-image">
        <img src="{{ profile.image.url }}" alt="Profilowe zdjęcie użytkownika">
      </div>
      <div class="profile-info">

        <h3>{{ profile.user.username }}</h3>

        {% if profile.user.first_name  %}
        <p>Imię: {{ profile.user.first_name}}</p>
        {% endif %}

        {% if profile.user.last_name %}
        <p>Nazwisko: {{ profile.user.last_name}}</p>
        {% endif %}

        {% if profile.location %}
        <p>Lokalizacja: {{ profile.location }}</p>
        {% endif %}

        {% if profile.birth_date %}
        <p>Data urodzenia: {{ profile.birth_date|date:"Y-m-d" }}</p>
        {% endif %}

        <p>Email: {{ profile.user.email }}</p>
      </div>

      <div id="settings-menu" style="display:none;">

        <form method="POST">
          {% csrf_token %}

          <fieldset>
            <legend>Zmiana hasła</legend>

            {{ ch_form.new_password1 }}

            {{ ch_form.new_password2 }}

          </fieldset>

          <fieldset>
            <legend>Profil</legend>

            {{ u_form.first_name }}

            {{ u_form.last_name }}

            {{ p_form.location }}

            {{ p_form.birth_date }}
          </fieldset>

          <button type="submit">Aktualizuj</button>
        </form>

      </div>

    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="message message-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var settingsIcon = document.querySelector('.settings-icon');
        var profileInfo = document.querySelector('.profile-info'); // Profile Info
        var settingsMenu = document.getElementById('settings-menu'); // Settings menu

        settingsIcon.addEventListener('click', function() {
          if (settingsMenu.style.display === "none") {
            settingsMenu.style.display = "block"; // Show settings menu
            profileInfo.style.display = "none"; // Hide profile info
          } else {
            settingsMenu.style.display = "none"; // Hide settings menu
            profileInfo.style.display = "block"; // Show profile
          }
        });
      });
    </script>
{% endblock content %}