@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background: #1abc9c;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    min-height: 100vh;
}

::selection {
  background: rgba(26, 188, 156, 0.3);
}

h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 65px;
}

p {
  text-align: center;
  margin-top: 15px;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

form h1 {
  color: #16a085;
  text-align: center;
  margin-bottom: 20px;
}

form input[type="submit"] {
  color: #fff;
  background: #16a085;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background: #12876f;
}

form input[type="text"], form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

form input[type="text"]:focus, form input[type="password"]:focus {
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

a.button-style {
  display: inline-block;
  color: #fff;
  background-color: #16a085;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  min-width: 100px;
}

a.button-style:hover {
  background-color: #12876f;
}

.submit-style {
  color: #fff;
  background: #16a085;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.post-image {
  width: 600px; /* Żądana szerokość obrazu */
  height: 400px; /* Żądana wysokość obrazu */
  object-fit: contain; /* Zapewnia, że cały obraz będzie widoczny, zachowując proporcje, z możliwymi paskami po bokach lub na górze/dole */
  background-color: black; /* Tło obrazu, które będzie widoczne jako "paski" */
  display: block; /* Zapewnia, że obraz nie będzie mieć przestrzeni na dole */
  margin: auto; /* Opcjonalnie wyśrodkowuje obraz */
}

.submit-style:hover {
  background: #12876f;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #16a085;
  color: #fff;
  text-align: center;
  border: 1px solid darkgreen;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #16a085;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-link, .nav-icon {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-icon:hover, .nav-link:hover {
    background-color: #12876f;
}

.profile-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-top: 200px;
  position: relative;
}

.settings-menu {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 20px;
  position: relative;
}

.settings-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
}

.profile-info {
  margin: 10px 0;
}

.profile-info h3, .profile-info p {
  margin: 5px 0;
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    gap: 10px;
}

.media.content-section {
    width: 100%; /
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #333;
    position: relative;
}

.media.content-section p {
    text-align: left;
    color: #333;
}

.media.content-section img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.fa-solid.fa-trash {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 25px;
}

.fa-solid.fa-info {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 25px;
}

.fa-solid.fa-pen {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 45px;
  margin-top: 10px;
  font-size: 25px;
}

.add-comment {
  width: 100%;
  margin: 0 auto;
}

.add-comment form {
  width: calc(100% - 40px);
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}

.add-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.comments-list {
  width: 50%;
  margin-top: 20px;
}

.comment-item {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}

.comment-author-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: #666;
}

.content-section p {
  word-wrap: break-word;
}

.comment-replies {
    background-color: #eef2f3;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.reply-item {
    font-size: 0.85em;
    border-radius: 4px;
    border: 2px solid #dee2e6;
}

.add-comment-reply form {
    margin-top: 1px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 5px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    display: block;
}

.add-comment-reply input[type="text"], .add-comment-reply textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-comment-reply input[type="submit"] {
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-comment-reply input[type="submit"]:hover {
    background-color: #16a085;
}

.like-form {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
}

.like-form button, .like-form a, .like-form i {
    border-right: 1px solid #ccc;
    padding: 0 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
}

.like-form i:last-child {
    border-right: none;
}

.comment-content {
  margin-top: 10px;
}

.message-info {
  background-color: #148f77;
}

.message-success {
  background-color: #16a085;
}

.message-warning {
  background-color: #13856a;
}

.message-error {
  background-color: #117556;

