
/.idea/
/REST API/
/OuRoom/accounts/__pycache__/
/OuRoom/OuRoom/__pycache__/
/OuRoom/accounts/migrations/__pycache__/
/OuRoom/rooms/__pycache__/
/OuRoom/rooms/migrations/__pycache__/
/OuRoom/db.sqlite3/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs (Python/Jupyter/IPython, etc.)
.ipynb_checkpoints
cache/
logs/

# Development environments settings
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

