{% extends "accounts/welcome.html" %}
{% block content %}

    <form method="POST" autocomplete="off">

        {% csrf_token %}

        <label for="username"></label>
        {{ loginform.username }}

        <label for="password"></label>
        {{ loginform.password }}

        <input type="submit" value="Login"/>
        <p>Nie masz jeszcze konta? <a href="{% url 'sign_up' %}">Zarejestruj się!</a> </p>
        <p><a href="{% url 'password_reset' %}">Nie pamiętasz hasła?</a></p>

    </form>
    </br>
    {% if messages %}
      {% for message in messages %}
        <div class="message message-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

{% endblock content %}


